.banner{
        background-color:purple;
        width:100%;
        height:200px;
        margin-bottom:50px;
        }
.banner-text{
            top:120px;
            left:50%;
            color:white;
            position:absolute;
            text-align:center;
            transform:transform;
            }
h1{font:Vineta BT;}